# MODELO DE CONFIGURAÇÃO DE VARIÁVEIS - BACKEND CONSOLES
# Copie este arquivo, renomeie para .env e preencha com seus dados.

# --- CONFIGURAÇÕES DO AMBIENTE LOCAL AUTOMÁTICO (DEV) ---
DB_HOST=postgres-db
DB_NAME=nome_do_banco_local
DB_USER=seu_usuario_local_aqui
DB_PASS=sua_senha_local_aqui
JWT_SECRET=insira_uma_chave_jwt_local_aqui

# --- CONFIGURAÇÕES DO AMBIENTE DE NUVEM (PROD) ---
PROD_DB_HOST=ip_do_servidor_na_nuvem
PROD_DB_PORT=5432
PROD_DB_NAME=nome_do_banco_producao
PROD_DB_USER=usuario_banco_producao
PROD_DB_PASS=senha_banco_producao
